<!DOCTYPE html>
<html>
<head>
    <title>File Information</title>
</head>
<body>
<h1>Upload a file to see information.</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input name="file" type="file" />
    <br /><br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>